<%- include('Header') %>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="page-wrapper">
      <div class="page-breadcrumb">
        <div class="row">
          <div class="col-12 d-flex no-block align-items-center">
            <h4 class="page-title">Dashboard</h4>
          </div>
        </div>
      </div>
      <div class="container-fluid"></div>
      <footer class="footer text-center">
        This is My_Blogs. Designed and Developed by
        <a href="https://wrappixel.com">Prarthana Vaghani</a>.
      </footer>
    </div>
  </body>
</html>
<%- include('Footer') %>
